// --------------------------------------------------------------------------
// TYPOGRAPHY
// ----------------------------------------------------------------------------
html {
    background: white;
    color: black;
    font-family: $main-font;
    font-weight: 300;
    //font-size: percentage($browser-context/17);
    line-height: calc(27/#{$browser-context});
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-family: $main-font;
    color: $txt-color;
    font-size: rem(14);
    font-weight: 00;
    line-height: 1.6;
    letter-spacing: 1px;

    @include bp(sm) {
        font-size: rem(19);
    }

    @include bp(md) {
        font-size: rem(21);
    }
}


%h {
    margin: rem(10) 0 rem(20);
    font-weight: 600;
    line-height: 1;
    font-family: $hero-font;
    letter-spacing: none;
}

%h1 {
    font-size: rem(32);

    @include bp(md) {
        font-size: rem(60);
    }

}

%h2 {
    font-size: rem(32);

    @include bp(md) {
        font-size: rem(50);
    }

}

%h3 {
    font-size: rem(28);

    @include bp(md) {
        font-size: rem(40);
    }
}

%h4 {
    font-size: rem(20);

    @include bp(md) {
        font-size: rem(24);
    }

}

%h5 {
    font-size: rem(18);

    @include bp(md) {
        font-size: rem(20);
    }
}


h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    @extend %h;
}

h1,
.h1 {
    @extend %h1;
    color: $white;
}

h2,
.h2 {
    @extend %h2;
}

h3,
.h3 {
    @extend %h3;
}

h4,
.h4 {
    @extend %h4;
}

h5,
.h5 {
    @extend %h5;
}

p,
ol,
ul {
    margin: 0 0 rem(24);
}


ol,
ul {
    //margin-left: rem($gutter);
    padding: 0;
}

a {
    color: $txt-color;
    font-weight: 400;
    transition: all $animation-fade;

    .elementor & {
        text-decoration: underline;
    }

    &:hover,
    &:active,
    &:focus {
        color: $primary-color;
        cursor: pointer;
    }
}

strong {
    font-weight: bolder;
}

em {
    font-style: italic;
}

small {
    font-size: rem(17);
}
